---
layout: page
title : for the fun of learning
header-img: "img/home-bg.jpg"
description:
---

<!-- About Content -->
<section id="about">
	<div>
		<img src="/img/me.JPG" alt="me" style="border-radius:50%; margin:auto; height:100px; width:100px">
		<p>
			Welcome! <br />
			I often attempt to explore new concepts by breaking them apart into their components further and further seeking to understand the smaller details. A desire for conversation starters has lead me to document and share some of these explorations as <i>Tinker</i>. Some of you may have come across me in the water/open-data/development space, a lot of what I've written is under these themes, mostly under 'tech-how-tos','data-how-tos', 'scraping and APIs', geography ('gis'/'remote-sensing') and some ideas/concepts in development that I'm excited about! While these are important to me, however I don't like to see myself as only these things. Over time I imagine I will write much more of personal, in addition to just professional. 
			</p>
		<p>
			Majority of content can be found under <a href="/blog">'Blog'</a> and planned content can be found under 'Themes'. I'm using <a href="https://trello.com/b/8Z74rwG7/craigdsouzagithubio" target="_blank">To Do lists on Trello</a> to plan. Feel free to leave your input there on future blogposts or suggest new ones.<b>Especially if you're doing interesting work >></b>, (i'm biased towards the natural & social sciences) and you need any technical help, feel free to email me at craigds022@gmail.com. Working on projects is added motivation for me to learn.
		  </p>
	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2>A few of my projects</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		{% include portfolio.html %}
	</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals">
    {% include portfolio_modals.html %}
	</section>

	<div class="row">
		<div class="text-center">
			<h2>Visit my to-do list to help me plan new ones</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="text-center">
			<a href="https://trello.com/b/8Z74rwG7/craigdsouzagithubio" target="_blank"><img src="/img/trello.JPG" width="900"></a>
		</div>
	</div>
