---
layout: page
title :
header-img: "img/home-bg.jpg"
description:
---

<!-- About Content -->
<section id="about">
	<div>
		<img src="/img/me.JPG" alt="me" style="border-radius:50%; margin:auto; height:50px; width:50px">
		<p>
			Welcome! I'm Craig, and I'm still figuring out who I am.
			My page however has posts on work I do, tutorial style, right now mostly under the themes
			'data-how-tos', 'scraping', 'gis', 'remote-sensing' and some ideas/concepts in development
			that I'm excited about! I also don't draw a strong distinction between professional & personal,
			and hence this blog will evolve to include a lot more personal over time.
			</p>
		<p>
			The pandemic has made me realise a virtual presence is vital, to pay the bills as well as to sustain connections. I've
			always been energized by positive interactions, collaborations and communities.
			Do leave feedback on anything you find useful!
			</p>
		<p>
			The website is still in development! Majority of content can be found under 'Blog' right now.<br />
			I'm using <a href="https://trello.com/b/8Z74rwG7/craigdsouzagithubio" target="_blank">To Do lists on Trello</a> to plan.
			Feel free to leave your input there on future blogposts or suggest new ones.
			Especially if you're doing interesting work, (i'm biased towards the natural & social sciences) and you need any technical
			help, feel free to email me at craigds022@gmail.com. I definitely don't know everything but working on projects
			is added motivation for me to learn.
		  </p>
	</div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio">
	<div class="row">
		<div class="text-center">
			<h2>A few of my projects</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		{% for item in site.portfolio %}
		<div class="col-sm-4 portfolio-item">
			<a href="#{{ item.anchor }}" class="portfolio-link" data-keyboard="true" data-toggle="modal">
				<div class="caption" >
					<div class="caption-content" >
						{{ item.title }}<p></p>
						<i class="fa fa-search-plus"></i><p></p>
						Category: {{ item.category }}
					</div>
				</div>
				<img src="{{ item.image }}" class="img-responsive" alt="">
			</a>
		</div>
		{% endfor %}
	</section>

	<!-- Portfolio Modals -->
	<section id="portfolio modals">
		{% for item in site.portfolio %}
		<div class="portfolio-modal modal fade" id="{{ item.anchor }}" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-content">
				<div class="close-modal" data-dismiss="modal">
					<div class="lr">
						<div class="rl">
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
							<div class="modal-body">
								<h2>{{ item.title }}</h2>
								<hr class="star-primary">
								<img src="{{ item.image }}" class="img-responsive img-centered" alt="">
								<p>{{ item.description }}</p>
								<ul class="list-inline item-details">
									<li>Team:
										<strong>{{ item.team }}
										</strong>
									</li>
									<li>Date:
										<strong>{{ item.date | date: '%B %Y' }}
										</strong>
									</li>
									<li>Category:
										<strong>{{ item.category }}
										</strong>
									</li>
								</ul>
								<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>

	<div class="row">
		<div class="text-center">
			<h2>Visit my to-do list to help me plan new ones</h2>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="text-center">
			<a href="https://trello.com/b/8Z74rwG7/craigdsouzagithubio" target="_blank"><img src="/img/trello.JPG" width="900"></a>
		</div>
	</div>
